// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";
@font-face {
    font-family: Aeroport;
    src: url(../fonts/Aeroport.ttf);
}

:root {
    --container-width: 1240px;
    --container-padding: 100px;
    --secondary: #F3F3F3;
    --basic: #222222;
    --rare: #888888;

}

body {
    font-family: 'Aeroport';
    background-color: var(--secondary);
    color: var(--basic);
}

.header{
    overflow: hidden;
    margin: auto;
    background-color: var(--secondary);
    background-size: auto 104px;
    box-shadow: 0px 2px 8px rgba(53, 27, 96, 0.08);
    height: 104px;
    @media (max-width: 1024px){
        height: 56px;
    }
}

.logo{
    @media (max-width: 1024px){
        width: 102px;
        height: 26px;
    }
}

.container {
    position: relative;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--container-padding);
    overflow-x: hidden;
    @media (max-width: 700px){
        padding-left: 12px;
        padding-right: 12px;
        
    }
}

.nav {
    padding-top: 32px;
    padding-left: 80px;
    padding-right: 32px;
    display: flex;
    justify-content: space-between;
    &__personal{
        margin-right: 10px;
    }
        &__burger{
            position: relative; 
            cursor: pointer;
            display: block;
            width: 40px;
            height: 40px;
            background-color: #222222;
            border-radius: 11px;
            border: none;

            @at-root .nav__burger-stick, &::before, &::after {
                position: absolute;
                top: 50%;
                margin-top: -1px;
                left: 30%;
                margin-left: -10%;
                width: 25px;
                height: 2px;
                background-color: var(--secondary);
            }
    
            &::before, &::after {
                content:'';
            }
    
            &::before {
                transform: translate(0px,-7px);
            }
    
            &::after {
                transform: translate(0px,7px);
            }
        }
        #menu__toggle {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
        #menu__toggle:checked + .nav__burger .nav__burger-stick {
            background-color: transparent;
        }
        
        #menu__toggle:checked + .nav__burger .nav__burger-stick::before {
            transform: rotate(45deg);
            left: 0;
        }
        
        #menu__toggle:checked + .nav__burger .nav__burger-stick::after {
            left: 0;
            transform: rotate(-45deg);
        }
            &__btn-group{
                display: flex;
        }
        @media (max-width: 1024px){
            padding-top: 15px;
            &__personal{
                display: none;
            }
            &__burger{
                width: 32px;
                height: 32px;
                border-radius: 9px;
                .nav__burger-stick, &::before, &::after {
                    width: 20px;
                }
            }
        }
        @media (max-width: 700px){
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    


.clear-button{
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 10px;
    width: 180px;
    height: 40px;
    border: 1px solid #222222;
    border-radius: 11px;
    color: black;
}

.text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
    margin: 0;
}

.hero{
    &__container{
    height: 512px;
    background-image: url(../img/blanc/globus.png);
    background-size: 300px 381px;
    background-repeat: no-repeat;
    background-position: top 1px right 58px;
    }

    &__title{
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 110%;
        margin-bottom: 16px;
        margin-top: 100px;
    }
    
    &__list {
        list-style: none;
        & li:before {
            content:  "—";
            position: relative;
            left: -5px;
        }
        margin-bottom: 40px;
    }

    &__text{
        font-size: 24px;
    }

    @media(max-width: 1024px){
        &__btn{
            font-size: 18px;
            width: 296px;
            height: 68px;
        }
        &__container{
            background-size: 177px 224px;
            background-position: top 75px right 15px;
            }
    }
    @media (max-width: 700px){
            &__container{
                background-position: top 146px right 15px;
            }
            &__title {
                font-size: 32px;
                margin-top: 24px;
            }
            &__text{
                line-height: 133%;
            }
    }
    @media (max-width: 320px){
        &__container{
            width: 305px;
            background-position: top 180px right -23px;
    }
}
}

.btn{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    background-color: var(--basic);
    color: white;
    border-radius: 26px;
    width: 418px;
    height: 90px;
    &:hover {
        background-color: #434343;
        transition: color 2s ease-in;
    }
    &:active {
        position: relative;
        top: 2px;
    }
    &_extended{
        width: 405px;
        height: 68px;
        font-weight: 400;
        font-size: 18px;
        border-radius: 19px;
    }
    &_green{
        background-color: #CBFA92;
        border-radius: 100px;
        width: 173px;
        height: 44px;
    }
    &_small{
        font-weight: 700;
        font-size: 14px;
        width: 224px;
        height: 68px;
        border-radius: 12px;
    }
    &_standard{
        width: 307px;
        height: 68px;
        font-weight: 400;
        font-size: 18px;
        border-radius: 19px;
    }
    &_hidden{
        font-size: 14px;
        border-radius: 12px;
        width: 296px;      
        height: 68px;
    }
    @media (max-width: 700px){
        &_position-bottom{
            margin-top: 117px;
        }
        &_standard{
            width: 296px;
        }
    }
}



.pic-content {
    overflow-y:hidden;
    &__container{
    background-image: url(../img/blanc/Group.png);
    background-repeat: no-repeat;
    background-size: 44%;
    background-position: center left;
    margin-top: 100px;
    }
    &__content-right{
        width: 50%;
        margin-left: auto;
    }
    &__text{
        margin-top: 12px;
        font-size: 24px;
    }
    @media (max-width: 1024px){
        &__container{
        background-position: center center;
        }
        &__content-right{
            width: 100%;
        }
        
    }
    @media (max-width: 855px){
        margin-top: 0px;
    }
    @media (max-width: 700px){
        &__container{
            margin-top: 0px;
            background-size: 50%;
            background-image: url(../img/blanc/графика.svg);
            padding-bottom: 15px;
            background-position: bottom;
        }
        &__title{
            margin-left: 0px;
        }
        &__text{
            margin-left: 0px;
        }
    }
    @media (max-width: 500px){
        &__container{
            background-size: 100%;
        }
    }
    
}
.colortext{
    color: rgba(202, 194, 192, 1);
}

.title{
    font-family: 'Aeroport';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 110%;
    @media (max-width: 1024px){
        font-size: 32px;
    }
}

.products{
    margin-top: 183px;
    display: flex;
    flex-direction: column;
    &__title{
        margin-bottom: 40px;
    }
    &__btn{
        margin-top: 17px;
        margin-bottom: 100px;
        margin-left: auto;
    }

    @media (max-width: 1024px){
        .carousel-slides {
            flex-wrap: nowrap;
            display: flex;
            overflow-x: hidden;
            counter-reset: item;
            scroll-behavior: smooth;
            scroll-snap-type: x mandatory;
            list-style: none;
            margin: 0;
            padding: 0;
            overflow-y: hidden;
        }
        &__btn{
            font-size: 14px;
            width: 296px;
            height: 68px;
            margin-bottom: 46px;
        }
        .slide {
            position: relative;
            flex: 0 0 100%;
            width: 100%;
            counter-increment: item;
            margin-bottom: 0px;
        }

        .carousel__navigation {
            display: flex;
        }
        
        .carousel__navigation-list,
        .carousel__navigation-item {
            display: flex;
            
            margin-left: auto;
            margin-right: auto;
            padding: 0px;
        }
        
        .carousel__navigation-button {
            display: inline-block;
            width: 24px;
            height: 4px;
            background-color: #22222218;
            background-clip: content-box;
            border-radius: 2px;
            font-size: 0;
            transition: transform 0.1s;
            margin-right: 8px;
            a:active{
                color: var(--basic);
            }
        }

        .flex-block__flex-item:nth-child(3n) {
            margin-right: 12px;
        }
    }
    @media (max-width: 320px){
        height: 555px;
        margin-top: 103px;
        .flex-block{
        &__title{
            font-size: 24px;
            margin-left: 20px;
            margin-top: 20px;
        }
        &__text{
            font-size: 18px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
    }
}

.flex-block {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr;
        &__flex-item {
            padding: 28px 32px;
            background: #FFFFFF;
            border-radius: 19px;
        }
        &__title {
            font-size: 24px;
        }
        &__text {
            color: var(--rare);
            margin-top: 8px;
        }
}

.terms {
    padding-top: 60px;
    background-image: url(../img/blanc/group3.svg);
    background-repeat: no-repeat;
    background-position: center bottom 9px;
    &__main{
        display: flex;
        justify-content: space-between;
    }
    &__block {
        background-color: #FFFFFF;
        box-shadow: 0px 2px 8px rgba(53, 27, 96, 0.08);
        border-radius: 24px;
        padding: 36px 32px 36px 32px;
        box-sizing: border-box;
    }
    &__title{
        margin-bottom: 12px;
    }
    &__text{
        &:last-child{
            margin-top: 4px; 
        }
    }
    &__content-right{
        margin-bottom: 94px;
        width: 43%;
    }
    &__content-left{
        margin-bottom: 300px;
    }

    &__icon{
        margin-right: 12px;
        margin-bottom: auto;
    }
    &__info-title{
        border-bottom: solid #EAEAEA 1px;
        display: flex;
        margin-top: 16px;
        &:first-child{
            margin-top: 0px;
        }
        &:last-of-type{
            border-bottom: none;
        }  
    } 
    
    &__text_view{
        color: var(--rare);
        margin-top: 2px;
        margin-bottom: 16px;
    }
    &__btn{
        margin-top: 28px;
    }
    &__strikethrough-text{
        color: var(--rare);
        text-decoration-line: line-through;
        margin-right: 5px;
    }
    &__text-size{
        font-weight: 700;
        font-size: 24px;
        color: var(--basic);
    }
    @media (max-width: 855px){
        background-image: none;
        margin-bottom: 40px;
        &__main{
            display: block;
        }
        &__content-left{
            margin-bottom: 24px;
        }
        &__content-right{
            width: 100%;
            margin-bottom: 0px;
        }
    }
}

.login{
    &__container{
    background-image: url(../img/blanc/app.svg);
    background-repeat: no-repeat;
    background-size: 38%;
    background-position: right;
    }
    padding-top: 224px;
    padding-bottom: 181px;
    &__form{
        display: flex;
        margin-top: 32px;
    }
    &__input{
        border-radius: 12px;
        background-color: #FFFFFF;
        padding: 16px 27px 16px 20px;
        width: 351px;
        height: 68px;
        border: none;
        box-sizing:border-box;
    }
    &__btn{
        margin-left: 24px;
    }
    &__text{
        font-size: 14px;
        margin: 0px;
    }

    &__checkbox{
        margin-top: 8px;
    }
    &__flex-text{
        display: flex;
        column-gap: 66px;
        margin-bottom: 12px;
        margin-top: 20px;
    }
    @media (min-width: 970px){
        &__btn_hidden{
            display: none;
        }
    }
    @media (max-width: 970px){
        padding-top: 40px;
        padding-bottom: 56px;
        &__container{
            background-size: 33%;
        }
        &__btn{
            display: none;
        }
        &__btn_hidden{
            margin-top: 20px;
        }
        &__text_disabled{
            display: none;
        }
        
    }
    @media (max-width: 700px){
        padding-bottom: 16px;
    &__container{
        background-size: 264px 330px;
        background-position: left 28px top 141px;
    }
    &__form{
        margin-top: 279px;
    }
}
    @media (max-width: 320px){
        background-size: 82%;
        background-position: right 27px top 182px;
    }
}

.checkbox{
    display: flex;
    align-items: center;
    &__text{
        margin-left: 12px;
    }
    &__box-custom{
        appearance: none;
        display: block;
        align-items: center;
        user-select: none;
        margin-right: 12px;
        &::before {
            content: '';
            display: block;
            width: 1.5em;
            height: 1.5em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #EAEAEA;
            border-radius: 4px;
            
            background-repeat: no-repeat;
            background-position: center center;
            
            background-color: #FFFFFF;
        }
        
        &:checked::before {
            border-color: #0b76ef;
            background-color: #0b76ef;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
    }
}

.excellence{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    &__btn{
        margin-top: 20px;
        margin-left: auto;
        margin-bottom: 100px;
    }
    &__btn_size{
        padding: 22px 91px;
        font-weight: 400;
        font-size: 18px;
        border-radius: 19px;
    }
    &__landing-card{
        display: flex;
        column-gap: 12px;
        margin-top: 32px;
    }
    @media (max-width: 1024px){
        padding-top: 40px;
    }
    @media (max-width: 400px){
        &__btn_size{
            font-size: 16px;
            padding: 22px 90px;
        }
    }
}

.landing-card {
    display: grid;
    grid-gap: 12px;
    &__title{
        font-weight: 400;
        font-size: 24px;
    }
    &__text{
        color: var(--rare);
        margin-top: 8px;
    }
    &__text_bold{
        font-weight: 550;
    }
    &__flex-item {
        padding: 32px 32px;
        background-color: #FFFFFF;
        border-radius: 19px;
        }
        @media (max-width: 1024px){
            &__title{
                font-size: 24px;
            }
            &__flex-item{
                padding: 20px 20px;
                background-image: url(../img/blanc/Union.svg);
                background-repeat: no-repeat;
                background-position: center right 25px;
            }
        }
}
footer{
    background-color: #EAEAEA;
}
.footer{
    &__phone, &__whatsapp{
        display: flex;
    }
    &__flex-item{
        display: flex;
    }
    &__connection{
        justify-content: space-between;
        border-bottom: solid #888888 1px;
        height: 68px;
        margin-bottom: 24px;
        padding-top: 140px;
    }
    &__stores{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    &__button{
        display: block;
    }

    &__calls{
        display: flex;
        column-gap: 32px;
        
    }
    &__text{
        margin-left: 12px;
        font-size: 16px;
        margin-top: 5px;
        display: grid;
        
    }
    &__img{
        margin-bottom: auto;
    }
    &__text_size{
        font-size: 12px;
        margin-bottom: 20px;
    }
    &__text_underline{
        text-decoration: underline;
    }
    &__links{
        margin-bottom: 57px;
    }
    &__link{
        font-size: 12px;
        letter-spacing: 0.01em;

        color: var(--rare);
        margin-right: 12px;
    }
    &__license{
        margin-top: 24px;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
    }
    &__social{
        display: flex;
        column-gap: 16px;
        margin-bottom: 60px;
    }
    @media (max-width: 1024px){
        overflow-x: hidden;
        &__stores{
            overflow-x: auto;
            display: flex;
            margin-bottom: 28px;
        }
        &__footer{
            display: grid;
        }
        &__license{
            margin-top: 0px;
        }
        &__social{
            order: -1;
            margin-bottom: 0px;
            margin-top: 17px;
        }
        &__img{
            margin-bottom: 0px;
        }
        &__phone{
            margin-bottom: 12px;
        }
        &__whatsapp{
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 1024px){
    .hero{
        &__text{
            font-size: 18px;
        }
        
        &__title{
            font-size: 32px;
        }
    }
    .pic-content{
        &__title{
            font-size: 32px;
        }
        &__text{
            font-size: 18px;
        }
    }
    .terms{
        &__text{
            font-size: 16px;
        }
    }
    .login{
        &__text{
            font-size: 12px;
        }
    }
    .excellence{
        &__landing-card{
            display: block;
        }
        p{
            display: none;
        }
        
        .flex-block__title{
            font-size: 24px;
        }
        
    }
    .landing-card:last-child {
        margin-top: 12px;
    }
    .footer{
        padding: 40px 0px 0px 0px;
        &__connection{
            display: inline;
        }
        &__calls{
            display: inline;
        }
    }
}

@media (min-width: 1025px){
    aside{
        display: none;
    }
    .desktop-hidden{
        display: none;
    }
}

@keyframes carousel {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    40% { transform: translateX(-200px); }
    60% { transform: translateX(-200px); }
    80% { transform: translateX(-400px); }
    100% { transform: translateX(-400px); }
}